:root {
  --golden: hsl(38, 61%, 73%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

#loader {
  position: fixed;
  inset: 0;
  background: var(--golden);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

#loader.fade_out {
  opacity: 0;
  visibility: hidden;
}

.loader_title {
  font-size: 55px;
  color: #000;
  letter-spacing: 5px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeText 1.5s ease forwards;
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.spinner {
  border: 5px solid #fff;
  border-left-color: #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  /* backdrop-filter: blur(5px); */
}

.hero_slider {
  position: relative;
  height: 115vh;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.slider.active {
  opacity: 1;
  pointer-events: auto;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.3s ease-in-out;
}

.slider_content {
  position: absolute;
  bottom: 21%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.slider_content h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 87px;
  font-weight: normal;
  letter-spacing: 1px;
}

.slider_content p {
  font-size: 25px;
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 21px;
}

.slider_content a button,
.about_content button,
.special_container button,
.delicious_menu button,
.submit_btn {
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  padding: 13px 45px;
  font-size: 15px;
  font-weight: 600;
  background: transparent;
  border: 2px solid var(--golden);
  color: var(--golden);
  margin-top: 21px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: auto;
  letter-spacing: 2px;
  font-weight: 600;
}

.slider_content a button::after,
.about_content button::after,
.special_container button::after,
.delicious_menu button::after,
.submit_btn::after {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--golden);
  transition: all 0.3s ease;
  z-index: -1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.slider_content a button:hover::after,
.about_content button:hover::after,
.special_container button:hover::after,
.delicious_menu button:hover::after,
.submit_btn.book_table:hover::after {
  height: 100%;
  border-radius: 0;
}

.slider_content a button:hover,
.about_content button:hover,
.special_container button:hover,
.delicious_menu button:hover,
.submit_btn:hover {
  color: #000;
}

.arrow {
  background-color: transparent;
  position: absolute;
  top: 50%;
  border: 1px solid var(--golden);
  font-size: 31px;
  padding: 5px 15px;
  cursor: pointer;
  transform: translateY(-50%) rotate(45deg);
}

.arrow:hover {
  background: var(--golden);
}

.arrow > p {
  color: #fff;
  font-size: 25px;
  transform: rotate(-45deg);
}

.arrow:hover.arrow > p {
  color: #000;
}

.prev {
  left: 25px;
}

.next {
  right: 45px;
}

.slider_div p,
.flavour_div p {
  color: var(--golden);
  font-size: medium;
  padding-left: 3px;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 5px;
}

.slider_div img,
.flavour_div img,
.about_content img,
.separator {
  width: 100px;
  display: block;
  margin: 21px auto;
}

.book_table {
  position: absolute;
  bottom: 31px;
  right: 31px;
  z-index: 15;
  background: var(--golden);
  width: 110px;
  height: 110px;
  padding: 13px;
  cursor: pointer;
}

.book_table img {
  width: 50px;
  height: 50px;
  margin: auto;
  display: block;
  object-fit: contain;
}

.book_table span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: small;
  display: block;
  text-align: center;
  margin-top: 11px;
}

.book_table::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid var(--golden);
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.book_table:hover::after {
  animation-play-state: paused;
}

.flavour_div p {
  color: var(--golden) !important;
  text-align: center;
}

.flavour_parent {
  position: relative;
  padding: 31px 0;
  height: 145vh;
  background: hsla(30, 8%, 5%, 1);
}

.shape_1,
.shape_2 {
  position: absolute;
  animation: move 5s linear infinite;
  z-index: 0;
}

.shape_2 {
  width: 343px;
  height: 345px;
  top: 0;
  right: 0;
}

.shape_1 {
  width: 247px;
  height: 413px;
  bottom: 31px;
  left: 0;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

.flavour_parent h2 {
  font-size: 57px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin: 31px auto;
  font-weight: normal;
}

.flavour_parent p {
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  line-height: 35px;
  color: #fff;
}

.flavour_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 150px;
  margin: 95px 137px;
}

.flavour_grid li:nth-child(2n + 1) {
  transform: translateY(-160px);
}

.flavour_grid li {
  z-index: 15;
}

.breakfast_parent,
.drinks_parent,
.appetizers_parent {
  z-index: 100;
  position: relative;
}

.breakfast_parent,
.drinks_parent,
.appetizers_parent,
.breakfast_parent > img,
.drinks_parent > img,
.appetizers_parent > img {
  width: 285px;
  height: 337px;
  transition: all 0.5s ease-in-out;
}

.breakfast_parent > img,
.drinks_parent > img,
.appetizers_parent > img {
  object-fit: contain;
}

.breakfast_parent::before,
.drinks_paren::before,
.appetizers_parent::before,
.breakfast_parent::after,
.drinks_parent::after,
.appetizers_parent::after {
  content: "";
  height: 100%;
  width: 141px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  background-image: url(../Utilies/img-pattern.svg);
  background-position: center;
  background-repeat: repeat;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) rotateY(0deg);
  transform-origin: center;
  will-change: transform;
}

.breakfast_parent::before,
.drinks_parent::before,
.appetizers_parent::before {
  top: -40px;
}

.breakfast_parent::after,
.drinks_parent::after,
.appetizers_parent::after {
  bottom: -40px;
}

.service_card {
  perspective: 1000px;
}

.service_card:hover .breakfast_parent img,
.service_card:hover .drinks_parent img,
.service_card:hover .appetizers_parent img {
  transform: scale(1.07);
}

.service_card:hover .breakfast_parent::before,
.service_card:hover .drinks_parent::before,
.service_card:hover .appetizers_parent::before {
  transform: translateX(-50%) rotateY(180deg);
}

.service_card:hover .breakfast_parent::after,
.service_card:hover .drinks_parent::after,
.service_card:hover .appetizers_parent::after {
  transform: translateX(-50%) rotateY(180deg);
}

.card_content {
  color: #fff;
  letter-spacing: 1px;
  margin-top: 61px;
}

.card_content h3 {
  width: 50%;
  display: block;
  margin: auto;
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: normal;
}

.content {
  width: 35% !important;
}

.card_content a {
  width: 43%;
  display: block;
  margin: 15px auto;
  font-size: 13px;
  letter-spacing: 2px;
  color: var(--golden);
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.button1,
.button2 {
  font-weight: 600;
  width: 35% !important;
  transition: all 0.3s ease-in-out;
}

.button1:hover,
.button2:hover,
.card_content a:hover {
  color: #fff;
}

.about_parent {
  height: 141vh;
  background-color: #161719;
  padding-block: 170px 0;
}

.flex_container {
  position: relative;
  display: flex;
  gap: 71px;
  justify-content: center;
  margin: auto;
}

.about_img4 {
  position: absolute;
  top: 27%;
  left: 0;
  width: 197px;
  height: 197px;
}

.about_content {
  padding-right: 90px;
  padding-top: 31px;
  color: #fff;
}

.story,
.delicious_title,
.special_title {
  text-align: center;
  text-transform: uppercase;
  color: var(--golden);
  font-size: smaller;
  letter-spacing: 2.5px;
  font-weight: 700;
}

.about_content h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 57px;
  font-weight: 500;
}

.about_para {
  text-align: center;
  line-height: 27px;
  letter-spacing: 1px;
  margin: 15px 0;
  font-size: 17px;
}

.about_label {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.number {
  cursor: pointer;
  font-size: 27px;
  font-weight: 600;
  color: var(--golden);
  text-align: center;
  letter-spacing: 2px;
}

.about_content button,
.special_container button,
.delicious_menu button {
  margin: 31px auto;
  padding: 13px 45px;
}

.about_content button a,
.special_container button a,
.delicious_menu button a,
.submit_btn a {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.about_banner {
  position: relative;
  margin-bottom: 120px;
  transition: all 0.3s ease-in-out;
}

.about_banner img {
  width: 570px;
  height: 570px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 8;
}

.about_banner img:hover,
.about_abs_img img:hover,
.about_banner:hover {
  transform: scale(1.03);
}

.about_abs_img {
  padding: 50px 0;
}

.about_abs_img {
  bottom: 260px;
  left: -100px;
  width: 401px;
  height: 401px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}

.about_abs_img img {
  width: 285px;
  height: 285px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 10;
}

.about_abs_img::before {
  content: "";
  position: absolute;
  /* top: -41px;
  bottom: -41px; */
  top: 0;
  height: 401px;
  left: 37%;
  background-image: url(../Utilies/img-pattern.svg);
  background-repeat: repeat;
  width: 141px;
  transform: translateX(-50%);
  z-index: 9;
}

.about_badge {
  position: absolute;
  top: -65px;
  right: 0;
  cursor: pointer;
}

.about_badge::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../Utilies/badge-2-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  animation: rotate360 15s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.about_badge img {
  width: 133px;
  height: 135px;
}

.special_dish {
  background-color: #0e0d0b;
}

.special_flex {
  display: flex;
  height: 900px;
  /* margin-bottom: 50px; */
}

.pav_bhaji {
  width: 940px;
  height: 900px;
  object-fit: cover;
}

.dish_about {
  padding: 225px 90px;
  position: relative;
}

.special_container {
  position: relative;
}

.badge_1 {
  position: absolute;
  top: 10px;
  left: 83px;
  animation: move 5s linear infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-31px);
  }
}

.special_container h2 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 37px;
}

.special_about {
  padding: 31px 0;
  padding-left: 15px;
  color: #fff;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
}

.price_div {
  display: flex;
  justify-content: left;
  padding: 15px 51px;
  align-items: center;
  gap: 27px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.strike {
  font-size: 23px;
  color: #595754;
  text-decoration: line-through;
  text-decoration-color: var(--golden);
}

.price {
  font-size: 27px;
  color: var(--golden);
}

.shape_4 {
  position: absolute;
  right: 0;
  top: 43%;
}

.shape_9 {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  right: 0;
}

.delicious_menu {
  background-color: #161719;
  height: 125vh;
  padding: 100px 0;
}

.delicious_menu h2 {
  color: #fff;
  font-weight: normal;
  font-size: 47px;
  letter-spacing: 2px;
  text-align: center;
  margin: 31px 0;
}

.delicious_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 31px;
  align-content: center;
  padding-left: 170px;
  position: relative;
}

.delicious_div::after {
  content: "";
  position: absolute;
  left: 49.5%;
  transform: translateX(-49.5%);
  top: 0;
  height: 100%;
  width: 2px;
  background-color: var(--golden);
  opacity: 0.7;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.items_img {
  width: 100px;
  height: 100px;
  border-radius: 21px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.delicious_child2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title,
.description {
  color: #fff;
}

.description {
  opacity: 0.5;
}

.time {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.color {
  color: var(--golden);
  text-transform: lowercase;
  transition: all 0.3s ease-in-out;
}

.items_img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.color:hover {
  text-decoration: underline;
}

.registration {
  background: url(../Utilies/testimonial-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  height: 120vh;
}

.reg_container {
  color: #fff;
  text-align: center;
  line-height: 67px;
  font-size: 45px;
  font-weight: 500;
}

.reg_description {
  letter-spacing: 2px;
}

.quote {
  font-weight: bolder !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 51px 0;
}

.square {
  width: 9px;
  height: 9px;
  border: 1.5px solid var(--golden);
  transform: rotate(45deg);
  animation: square360 15s linear infinite;
  transition: all 0.3s ease-in-out;
}

@keyframes square360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.square:hover {
  animation-play-state: paused;
}

.user img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-top: 20px;
  border: none;
}

.user_title {
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  color: var(--golden);
  font-weight: 700;
}

.reservation {
  display: flex;
  justify-content: center;
  background-color: #161719;
}

.reservation_child1 {
  background-color: #000;
  color: #fff;
  /* position: relative;
  top: -50px; */
  padding: 75px 61px;
  text-align: center;
  height: 77vh;
}

.reservation_child2 {
  background: url(../Utilies/form-pattern.png);
  color: #fff;
  padding: 51px;
  height: 77vh;
}

form {
  padding: 41px 0;
}

.flex_form input {
  height: 51px;
  padding: 11px 21px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background-color: hsla(210, 4%, 11%, 1);
  color: #fff;
}

.flex_form input::placeholder {
  color: #fff;
  font-size: medium;
}

.flex_form1,
.flex_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

#message {
  width: 100%;
  height: 141px !important;
  resize: none;
  padding: 21px;
  text-align: left !important;
}

#message::placeholder {
  color: #fff;
}

.icon_wrapper,
.icon_wrapper1 {
  position: relative;
  width: 100%;
  background-color: hsla(210, 4%, 11%, 1);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  padding: 11px 19px;
}

.icon_wrapper1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bi-person,
.bi-calendar,
.bi-clock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  padding-top: 5px;
}

.person,
#date,
.time,
#message {
  background-color: hsla(210, 4%, 11%, 1);
  color: #fff;
  height: 41px;
  font-size: 17px;
  border: 1px solid hsla(210, 4%, 11%, 1);
  padding: 11px 21px;
  cursor: pointer;
  text-align: center;
}

#date {
  font-size: 15px;
  text-transform: uppercase;
}

#date::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.reservation_child2 {
  text-align: center;
}

